.image-container {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  height: 1960px;
  width: 44.5%;
}

.item {
  width: 33%;
  position: sticky;
  padding: 5px;
}

/* Re-order items into 3 rows */

.item:nth-of-type(3n + 1) {
  order: 1;
}

.item:nth-of-type(3n + 2) {
  order: 2;
}

/* .item:nth-of-type(3n + 3) {
	order: 3;
} */

.item:nth-of-type(3n) {
  order: 3;
}

/* Force new columns */

.break {
  flex-basis: 100%;
  background: none;
  width: 0;
  margin: 0;
  content: "";
  padding: 0;
}

